name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'

    - name: Build
      run: |
        go build -v -o icomment-linux-amd64 .
        
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: icomment-linux-amd64
        path: icomment-linux-amd64
        retention-days: 30
